---
layout: default
title: Publicações
---
  
<article class="text_box">
  <h1>Publicações</h1>
  {% if site.posts == empty %}
    Nada para ver ainda!
  {% endif %}
  <ul>
    {% for post in site.posts %}
      <li>
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        {{ post.excerpt }}
      </li>
    {% endfor %}
  </ul>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora sint quos eaque, odit consectetur nesciunt architecto dicta numquam earum asperiores modi soluta quisquam error molestiae, ab officiis minus incidunt quia.
</article>