
<script>
  const scriptURL = 'https://script.google.com/macros/s/AKfycbz59Z961eQMiP7HqBJfyh94snD_C-If71wmKUm7s2KaAx_AK9_HcMsfVaO1p9zWAAtj/exec';

  async function logVisit() {
    try {
      const response = await fetch('https://ipapi.co/json/');
      const data = await response.json();

      const logData = {
        data: new Date().toLocaleString("pt-BR"),
        ip: data.ip,
        cidade: data.city,    
        estado: data.region,   
        pais: data.country_name,
        provedor: data.org,     
        url: window.location.href,
        navegador: navigator.userAgent
      };

      fetch(scriptURL, {
        method: 'POST',
        mode: 'no-cors',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(logData)
      });

    } catch (error) {
      console.log('Erro ao obter dados (pode ser AdBlock):', error);
    }
  }

  window.addEventListener('load', logVisit);
</script>